<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58915488541-err0it4026fb9bgst2kp0t8achuhite6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58915488541-err0it4026fb9bgst2kp0t8achuhite6</string>
	<key>API_KEY</key>
	<string>AIzaSyCbVGUvFNw8OBWjZYno4fPRVCYD0uo9vH8</string>
	<key>GCM_SENDER_ID</key>
	<string>58915488541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>n.midTermProject---shio-andghuladze-</string>
	<key>PROJECT_ID</key>
	<string>iosbootcampnew</string>
	<key>STORAGE_BUCKET</key>
	<string>iosbootcampnew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58915488541:ios:2b0427454650e388c897f4</string>
	<key>DATABASE_URL</key>
	<string>https://iosbootcampnew-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>